.App {
  text-align: center;
}
body {
  background: rgb(196, 180, 180)
}

.form {
  background-color: #efedee;
  border-radius: 5px;
  width: 600px;
  margin: 20px auto;
  padding: 20px;
  height: fit-content;
  max-height: 100%;
}

.form-body {
  text-align: left;
  padding: 20px 10px;
}
.form-error {
  font-size: 1rem;
  color: #640606;
}

.form-body > * {
  padding: 5px;
}

.form__label {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #060606;
  transition: 0.3s;
}

.footer {
  text-align: center;
}
.head {
  display: flex;
  justify-content: center;
  color: rgb(28, 26, 26);
}
.block {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 8px;
  border: 2px solid #827878;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: 0.3s;
}
 input {
  outline: 0;
  border: 0;
  padding: 4px 0 0;
  font-size: 14px;
  background:#efedee ;
  margin-top: -0.2rem;
  
}

.button:hover {
  background: #453e3b;
}
.button {
  padding: 1.2rem 3.2rem;
  outline: none;
  text-transform: uppercase;
  border: 0;
  color: #ccc5c5;
  border-radius: 4px;
  background: #211e1c;
  transition: 0.3s;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
}
